
.InclineTreadmillWalkcontainering{
    height: 100vh;
    background-color: rgb(36, 61, 61);
    color: white;
}

.bicepHeading{
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}

.innerContainer1{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.timercard{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.InclineTreadmillWalkcard{
    height: 400px;
    width: 700px;
    border: 10px;
    background-image:url('./heartimgs/InclineTreadmillWalk.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid black;
    transform: scale(1);
    transition: 0.3s;
}

.InclineTreadmillWalkdesc{
    width: 700px;
    font-size: 20px;
    margin-top: 15px;
}

.counting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 5px solid rgb(14, 24, 24);
    border-radius: 50%;
    background-color: rgb(14, 24, 24);
    transition: 0.3s;
}

.counting:hover{
    transform: scale(1.1);
    background-color: black;
    border: 5px solid black;
}

.bicepcard1:hover{
    transform: scale(1.02);
}


.InclineTreadmillWalk{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}