.hamlist{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.71);
    border: 10px;
    height: 200px;
    width: 150px;
    gap: 25px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.hamlist a{
    text-align: center;
    text-decoration: none;
}

.hammer{
    display: flex;
    flex-direction: column;
}