*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.contianer1{
    height: 100vh;  
}


.container2{
    height: 100vh;
    /* border-top: 1px solid white; */
}

.container3{
    height: 100vh;
    /* border-top: 1px solid white; */

}

.container4{
    height: 100%;
    /* border-top: 1px solid white; */

}
/* header */
@media (max-width: 640px) {
  .list {
    display: none;
    gap: 10px;
    background-color: transparent;
    position: absolute;
    top: 50px; /* adjust based on header height */
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .list.show {
    display: flex;
  }

  .hamburgir {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 640px) {
  .list {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    position: static;
  }

  .hamburgir {
    display: none;
  }
}
.hamlists{
  position: relative;
}


.hero_header{
    /* background-color: gray; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    margin-top: 12px;
    margin-left: 100px;
    font-weight: 800;
}
.logo a{
    color: white    ;
    text-decoration: none;
    font-size: 2rem;
}
.list{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    margin-right: 100px;
    width: max-content;
    margin-top: 20px;
    
}
.list a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transform: scale(1);
    transition: 0.3s;
}

.list a:hover{
    transform: scale(1.1);
}

.join_button{
    height: 40px;
    width: 120px;
    font-weight: 500;
    transform: scale(1);
    transition: 0.3s;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 70px;
    margin-top: 17px;
    border-radius: 10px;
    border: none;
    transform: scale(1);
    transition: 0.3s;
}

.join_button:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
    cursor: pointer;
}

/* header over */



/* body  */

.left_hero{
    margin-left: 100px;
    margin-top: 100px;
}

.h1cont{
    display: inline-block;
}

.left_hero h1{
    color: rgb(208, 208, 208);
    border-right: 5px solid rgb(208, 208, 208);
    font-size: 70px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: 
    typing 2s steps(21),
    cursor .4s step-end infinite alternate ;
}

@keyframes cursor{  
    50% {border-color: transparent;}
}

@keyframes typing{  
    from {width: 0;}
}

.h21{
    color: rgb(219, 160, 164);
    font-size: 40px;
    font-weight: 700;
}

.h22{
    color: rgb(219, 160, 164);
    font-size: 40px;
    font-weight: 700;

}

.left_hero p{
    color: rgb(197, 196, 196);
    font-size: 16px;
    font-weight: 500;
}

.left_hero_bottom{
    display: flex;
    margin-top: 50px;
    color: black;
}

.left_hero_bottom h3{
    color: rgb(235, 235, 235);
    margin-top: 30px;
    font-size: 28px;
}

.left_hero_bottom h4{
    color: rgb(235, 235, 235);
    font-size: 20px;
}

.left_bottom{
    margin-right: 40px;
}

.btn1{
    margin-top: 80px;
    height: 45px;
    width: 120px;margin-right: 10px;
    font-weight: 500;
    transform: scale(1);
    transition: 0.3s;
    border-radius: 10px;
    font-size: 15px;
}
.btn2{
    margin-top: 80px;
    height: 45px;
    width: 120px;
    font-weight: 500;
    transform: scale(1);
    transition: 0.3s;
    border-radius: 10px;
    font-size: 15px;
}

.btn2:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
     cursor: pointer;
}
.btn1:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
    cursor: pointer;
}

/* body_over  */

/* contianer2  */

.header2{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.533);
    color: #FFFFFF; 
    background-image: linear-gradient(270deg, #FFFFFF , #FFDAB9 , #FFB347 , #FF8C00 ); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.box{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content:center;
}
.boxes{
    height: 350px;
    width: 330px;
    border-radius: 10px;
    background-color: #cdc1ff;
    background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
    padding-left: 25px;
    padding-top: 30px;
    font-size: 20px;
    transform: scale(1);
    transition: 0.3s;
    font-weight: 630;
}
.boxes:hover{
    transform: scale(1.1);
    background-color: #fbceb1;
    background-image: linear-gradient(319deg, #fbceb1 0%, #ff6961 37%, #ff6347 100%);
}
.cardHeading{
    margin-bottom: 20px;
}
.info{
    font-size: 17px;
}
.dumbble{
    height: 60px;
    width: 65px;
}

.LinkBtn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    margin-top: 40px;
    transform: scale(1);
    transition: 0.3s;
    font-weight: 500;
}

.LinkBtn:hover{
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: underline;
    
}

/* contianer2 Over  */

/* contianer3  */

.header3{
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: #8B458B; 
     background-image: linear-gradient(180deg, #8B458B , #FF69B4 , #FFB6C1 , #FFFFFF ); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.Plans{
    display: flex;
    gap: 50px;
    margin-top: 60px;
    justify-content: center;
}

.planBoxes{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: #cdc1ff;
    background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
    padding-left: 25px;
    padding-top: 30px;
    font-size: 35px;
    transform: scale(1);
    transition: 0.3s;
    font-weight: 700; 
}

.planBoxes:hover{
    transform: scale(1.1);
    background-color: #fbceb1;
    background-image: linear-gradient(319deg, #fbceb1 0%, #ff6961 37%, #ff6347 100%);
}
.price{
    margin-top: 40px;
    margin-bottom: 20px;
}

.desc1{
    display: flex;
    font-size: 20px;
}

.desc1 p{
    margin-top: 28px; 
    margin-left: 10px;
}
.tickimg{
    margin-top: 30px;
    height: 25px;
    width: 25px;
}

.planbtn{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    margin-top: 40px;
    transform: scale(1);
    transition: 0.3s;
    font-weight: 500;
}

.planbtn:hover{
    transform: scale(1.1);
    cursor: pointer; 
    background-color: black;
    color: white;
}

.planLogo{
    height: 50px;
    width: 50px;
}

.planHeader{
    display: flex;
}

/* contianer3 Over  */



/* contianer4  */


.testiHeader{
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    color: #39FF14; 
    background-image: linear-gradient(0deg, #39FF14 , #2BFD6A , #1DFBA1 , #0FE9D8 , #00D7FF ); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin-top: 70px;
}

/* contianer4  */
.testiContain{
    height: 400px;
    width: 80%;
   margin-left: 150px;
   margin-top: 60px;
   margin-bottom: 200px;
}
.testiContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.testiImages{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin-bottom: 50px;
}

.name{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review{
    font-size: 18px;
    margin-bottom: 30px;
}

.readBtn{
    border-radius: 10px;
    border: 3px solid black;
    height: 40px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    transform: scale(1);
    transition: 0.3s;
    font-weight: 500;
}

.readBtn:hover{
    transform: scale(1.1);
    cursor: pointer; 
    background-color: black;
    color: white;
}

.footerHeader{
    margin-left: 150px;
}

.footer{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

.email{
    height: 50px;
    width: 450px;
    border-radius: 10px;
    margin-right: 155px;
    margin-top: 40px;
    padding: 10px;
}

.footerHeader h1{
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.socialMedia{
    height: 50px;
    width: 50px;
}

.socialM{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}